<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/inicio" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">CRYPTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Buscador-->
  <ion-searchbar placeholder="Buscar Crypto" (ionChange)="buscarCrypto($event)"></ion-searchbar> 

    <!--Ordenar por categorías-->
    <ion-select size="large" placeholder="Odenar por" interface="action-sheet" (ionChange)="OrdenarCrypto($event)">
      <ion-select-option value="nombreAsc">Odenar por Nombre Asc</ion-select-option>
      <ion-select-option value="nombreDes">Odenar por Nombre Des</ion-select-option>
      <ion-select-option value="precioAsc">Odenar por Precio Asc</ion-select-option>
      <ion-select-option value="precioDes">Odenar por Precio Des</ion-select-option>
      <ion-select-option value="relevancia">Odenar por Relevancia</ion-select-option>
      <ion-select-option value="porcentaje">Odenar por Porcentaje</ion-select-option>
    </ion-select>

    <ion-list>      
      <div class="spinner-center">
        <ion-spinner name="bubbles" color="primary" *ngIf="isLoading"></ion-spinner>
      </div>

      <app-card-crypto [coins]="allCoins" [textoFiltro]="busqueda" [ordenFiltro]="orden"></app-card-crypto>
    </ion-list>

</ion-content>
