<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/inicio" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">CRYPTOS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar placeholder="Buscar"></ion-searchbar>

    <ion-select size="large" placeholder="Odenar por" interface="action-sheet">
      <ion-select-option value="nombre">Ordenar por nombre</ion-select-option>
      <ion-select-option value="precio">Ordenar por precio</ion-select-option>
      <ion-select-option value="precio">Ordenar por relevancia</ion-select-option>
      <ion-select-option value="precio">Ordenar por porcentaje</ion-select-option>
    </ion-select>

    <ion-list>
      <app-card-crypto [coins]="allCoins"></app-card-crypto>
    </ion-list>

    <ion-infinite-scroll #infiniteScroll (ionInfinite)="obtenerTodas()">
      <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
