<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/inicio" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{cryptoId.toUpperCase()}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="spinner-center">
    <ion-spinner name="bubbles" color="primary" *ngIf="isLoading"></ion-spinner>  
  </div>
  
  <!--Es importante comprobar si existe la crypto, para asegurarnos si existe la imagen y demas, y si tiene un valor, ya que tarda en llegarnos. Evita errores de consola-->
  <div *ngIf="crypto">

    <div class="center-all">
      <ion-thumbnail class="imagen-logo center">
        <img [src]="crypto.image.large">
      </ion-thumbnail>
    </div>
    
    <ion-card >
      <ion-card-header>
        <ion-card-subtitle>Ranking - {{crypto.market_data.market_cap_rank}}º</ion-card-subtitle>
        <ion-card-title>{{crypto.name.toUpperCase()}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-accordion-group>

          <ion-accordion>
            <ion-item slot="header" color="primary">
              <ion-label><b>Descripción</b></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              {{crypto.description.en}}
            </div>
          </ion-accordion>

          <ion-accordion>
            <ion-item slot="header" color="secundary">
              <ion-label><b>Mercado</b></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <ion-list>
                <ion-item>
                  <ion-label><b>Precio Mercado: </b>{{crypto.market_data.current_price['eur']}}€</ion-label>                  
                </ion-item>
                <ion-item>
                  <ion-label><b>Cambio de precio 24h: </b>{{crypto.market_data.price_change_percentage_24h_in_currency['eur']}}€</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>PCT 24h: </b>{{crypto.market_data.price_change_percentage_24h}}%</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>PCT 7 días: </b>{{crypto.market_data.price_change_percentage_7d}}%</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label><b>Capitalización: </b>{{crypto.market_data.market_cap_change_24h}}</ion-label>
                </ion-item>
              </ion-list>
            </div>
          </ion-accordion>

        </ion-accordion-group>
        
      </ion-card-content>
    </ion-card>

  </div>



</ion-content>
