<ion-header>
  <ion-toolbar>

    <!-- <ion-button slot="start" fill="clear">
      <ion-icon name="settings" slot="icon-only"></ion-icon>
    </ion-button> -->

    <ion-title class="ion-text-capitalize">{{titulo}}</ion-title> <!--La clase Capitalize, coloca en mayuscula la primera letra de cada palabra-->
    <!--Recibe TITULO desde el componente padre, cuando lo definimos en la página. Se le pasa como parámetro-->

    <ion-button slot="end" fill="clear">
      <ion-icon name="person-circle" slot="icon-only"></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-header>