<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/inicio" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Crear Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm">
    <ion-item fill="">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item> 
    <br>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input [type]="passwordType" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$"></ion-input>
      <ion-button class="password" slot="end" (click)="passwordOn()">
        <ion-icon id="eye-icon" [name]="passwordIcon"></ion-icon>
      </ion-button>
    </ion-item>
    <p>Ya estás registrado? <a (click)="goToSignup()">Inicia sesión aquí</a></p>
    
    <ion-button type="submit" >Submit</ion-button>

  </form>


</ion-content>
