.hub span:nth-child(2) {
    background: #FF9900;
    color: #000000;
    border-radius: 5px;
    padding: 3px;
    display: inline-block;
  }
  .hub {
    display: block;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 100%;
    position: absolute;
    top: 50%;
    text-align: left;
    transform: translate(0%, -50%);
  } 