<ion-header>
  <ion-toolbar>

    <!-- Div que contiene el boton para ir atras y el texto de cabecera -->

    <div id="login-header">

      <!-- Boton Para Volver atras -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="login" color="primary">Iniciar Sesión</ion-title>
      <ion-title *ngIf="!login" color="primary">Registrarse</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-segment value="login" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="login">
      <ion-label>Login</ion-label>
    </ion-segment-button>
    <ion-segment-button value="register">
      <ion-label>Register</ion-label>
    </ion-segment-button>
  </ion-segment>


  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="username" type="text" required="required"></ion-input>
    </ion-item>
    <ion-item *ngIf="!login">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item *ngIf="!login">
      <ion-label position="floating">Age</ion-label>
      <ion-input formControlName="age" type="number"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="pwd" [type]="passwordType">
      </ion-input>
      <ion-button slot="end" (click)="passwordOn()">
        <ion-icon id="eye-icon" [name]="passwordIcon"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="!login">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="rpwd" [type]="passwordType">
      </ion-input>
      <ion-button slot="end" (click)="passwordOn()">
        <ion-icon id="eye-icon" [name]="passwordIcon"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-button *ngIf="login" class="submit ion-margin-top" size="full" (click)="onLogin()">Iniciar</ion-button>
    <ion-button *ngIf="!login" class="submit ion-margin-top" size="full" (click)="onRegister()">Registrar</ion-button>
  </form>


</ion-content>