#login-header {
  display: flex;
  flex-direction: row;
}


// ion-icon .eye-icon{
//   font-size: 20px;
//   text-align: left;
//   direction: rtl;
// }

p {
  margin: auto;
  text-align: center;
}

.submit{
  border-radius: 40px;
}

a {
  text-decoration: none;
}