<ion-header>
  <ion-toolbar>

    <!-- Div que contiene el boton para ir atras y el texto de cabecera -->
    
    <div id="login-header">

      <!-- Boton Para Volver atras -->
      <ion-button  slot="start" fill="clear" (click)="goBack()">
      <ion-icon name="chevron-back-outline" slot="icon-only"></ion-icon>
    </ion-button>
   

    <!-- texto de cabecera -->
      <ion-text color="secundary">
      <h3>Crear Cuenta</h3>
    </ion-text>
    </div>
  
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <form #form="ngForm">
    <ion-item lines="none">
      <ion-label position="floating">Email</ion-label>
      <ion-input class="custom" type="email"></ion-input>
    </ion-item>
    
    <ion-item lines="none">
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input class="custom" [type]="passwordType">
        <ion-button slot="end" class="password" (click)="passwordOn()">
          <ion-icon [name]="passwordIcon"></ion-icon>
        </ion-button>
      </ion-input>
      
      
    </ion-item>
    <p>Ya estás registrado?<p></p><a routerLink="signup">Inicia sesión aquí</a>
    
    <ion-button type="submit" >Submit</ion-button>

  </form>


</ion-content>
