<ion-header>
  <ion-toolbar>

    <!-- Div que contiene el boton para ir atras y el texto de cabecera -->

    <div id="login-header">

      <!-- Boton Para Volver atras -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home/inicio" text="Atrás"></ion-back-button>
      </ion-buttons>
      <ion-title color="primary">Iniciar Sesión</ion-title>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">


  <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <app-error-message message="Usuario obligatorio" [field]="form.get('name')" error="required"></app-error-message>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <app-error-message message="Email obligatorio" [field]="form.get('email')" error="required"></app-error-message>
    <app-error-message message="Email inválido" [field]="form.get('email')" error="email"></app-error-message>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input formControlName="password" [type]="passwordType">
      </ion-input>
      <ion-button slot="end" (click)="passwordOn()">
        <ion-icon id="eye-icon" [name]="passwordIcon"></ion-icon>
      </ion-button>
    </ion-item>
    <app-error-message message="Contraseña obligatoria" [field]="form.get('password')"
      error="required"></app-error-message>
    <app-error-message message="Contraseña inválida" [field]="form.get('password')" error="pattern"></app-error-message>
    <app-error-message message="Contraseña inválida" [field]="form.get('password')"
      error="minLength"></app-error-message>
    <br>
    <br>
    <br>
    <p>No estás registrado? <a routerLink="signup">Crea una cuenta aquí</a></p>
    <br>
    <ion-button class="submit" size="full" type="submit" [disabled]="!form.valid">Acceder</ion-button>
  </form>


</ion-content>